@media screen and (max-width: 400px) {
    .results {
        .result-values {
            p {
                span {
                    font-size: 1.6rem;
                }
                strong {
                    font-size: 1.2rem;
                }
            }
        }
    }

    footer {
        .location, .index {
            p {
                padding: 7px 14px;
                font-size: 1.6rem;
            }
        }
    }
}